<h2>Community</h2>

<div class='row'>
  <% @users.each do |user| %>
  <div class='col-md-4'>
    <ul class="users list-unstyled">
      <li>
        <%= image_tag("https://cdn.tutsplus.com/net/uploads/legacy/958_placeholders/placehold.gif") %>
      </li>
      <li class='text-center'>
        <%= link_to user.first_name, user %>
      </li>
    </ul>
  </div>
  <% end %>
  <%= will_paginate %>
</div><br><br>

<!-- <%= render 'layouts/footer' %> -->
