<div class='row'>
  <% @cities.each do |city| %>
  <div class='col-md-offset-1'>
    <%= image_tag(@city.photo) %>
  </div><br><br>
  <% end %>
  <div class='col-md-offset-1'>
    <%= image_tag("https://www.wpfreeware.com/wp-content/uploads/2014/09/placeholder-images.jpg") %>
  </div><br><br>
  <div class='col-md-offset-1'>
    <%= image_tag("https://www.wpfreeware.com/wp-content/uploads/2014/09/placeholder-images.jpg") %>
  </div>
</div>
