<div class='row'>
  <div class='col-md-offset-1'>

		<% @cities.each do |city| %>
      <%= link_to image_tag(city.photo, class: "city-index-img img-responsive polaroid"), city_show_path(city) %>
      <h4 class='city-name'><%= city.name %></h4><br><br><br>
    <% end %>
  </div>
</div>
