@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

/**** VARIABLES ****/
$heading: 'Oswald', sans-serif;
$body-text: 'Open Sans', sans-serif;
$eggplant: #28045f;
$black: #1e1e20;


body {
  font-family: $body-text;
  color: $black;
}

.container {
  max-width: 960px;
}

a {
  color: inherit;
  &:hover {
    text-decoration: none;
    color: $eggplant;
  }
}

/*** TYPOGRAPHY ****/
h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
}

.entry-box:hover {
  box-shadow: 3px 4px 10px rgba(6, 2, 2, 0.26) !important;
  background-color: #eee;
}

.entry-box-fix-width:hover {
  max-width: 90%;
  box-shadow: 3px 4px 10px rgba(6, 2, 2, 0.26) !important;
  background-color: #eee;
}

.user-entry-p, h6 {
  color: black!important;
}

.inline-heading {
  display: inline;
}

/* navigation */

.navbar-nav {
  width: 100%;
  text-align: center;
   li {
    float: none;
    display: inline-block;
  }
}

.content-container {
  margin-top: 112vh;
}

.img-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
}

.toggle-image {
  transition: opacity 3s ease-in-out;
  position: absolute;
	width: 100%;
	top: 20vh;
	left: 0;
 	height: 800px;

}

.first {
  background-image: url(/assets/sf.jpg);
  z-index: -3;
  opacity: 0;

}

.second {
  background-image: url(/assets/london.jpg);
  z-index: -2;
  opacity: 0;

}

.third {
  background-image: url(/assets/gb.jpg);
  z-index: -1;
  opacity: 0;
}

.first.show {
  opacity: 1;
}

.second.show {
  opacity: 1;
}

.third.show {
  opacity: 1;
}

.thumb {
  width: 25px;
}

.city-index-img {
  max-width: 90%;
  box-shadow: 3px 4px 10px rgba(6, 2, 2, 0.26) !important;

}

.pagination {
  margin-left: 14.5vw;
}

.pagination > li.active > a {
  background-color: #28045f;
  border-color: none;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #8666c0;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #8666c0;
  border-color: #8666c0;
  cursor: default;
}

.pagination > li > a,
.pagination > li > span {
  color: #28045f;
}

/* images */
.full-width-img {
  width: 50%;
  box-shadow: 3px 4px 10px rgba(6, 2, 2, 0.26) !important;
}

/* entries */
.user-show-entries {
  margin-bottom: 40px;
}

/* user profiles */
.profile-info{
  li {
    margin-bottom: 8px;
  }
}

.fake-btn {
  background: gray;
  padding: 5px;
}
