@import "bootstrap-sprockets";
@import "bootstrap";


body {
  color: #28045f;
  font-family: 'Playfair Display SC', serif;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: #49306f;
}

p {
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Chonburi', cursive;
  text-decoration: none;
  font-size: 55px;
}

h2 {
  font-family: 'Chonburi', cursive;
}

.inline-heading {
  display: inline;
}

/* navigation */

.navbar-nav {
  width: 100%;
  text-align: center;
   li {
    float: none;
    display: inline-block;
  }
}

.thumb {
  width: 25px;
}

.city-index-img {
  max-width: 90%;
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.26)!important;

}

.pagination {
  margin-left: 14.5vw;
}

.pagination > li.active > a {
  background-color: #28045f;
  border-color: none;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #8666c0;
}

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #8666c0;
  border-color: #8666c0;
  cursor: default;
}

.pagination > li > a, .pagination > li > span {
  color: #28045f;
}

/* images */
.full-width-img {
  width: 100%;
}

/* entries */
.user-show-entries {
  margin-bottom: 40px;
}

/* user profiles */
.profile-info{
  li {
    margin-bottom: 8px;
  }
}
